/target

.env
.env.*
!.env.example

/logs/
*.log

*.db
*.db-journal
*.db-shm
*.db-wal

.zed/*

.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
!.vscode/tasks.json

.idea/
*.iml

.DS_Store
Thumbs.db
